html,
body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.video {
  width: 50%;
  height: 100%;
  position: relative;
}

.main-video-wrapper {
  width: 100%;
  height: 100%;
}

.minor-video-wrapper {
  width: 15vw;
  height: 15vw;
  position: absolute;
  top: 0;
  right: 0;
}
